  # Challenge

  ## Identifying Outliers using Standard Deviation

In [58]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [59]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [77]:
# build a dataframe using an SQL query
query_outliers = """
SELECT card_holder_id, EXTRACT (month FROM creat_date ) AS month_transaction, 
EXTRACT (day FROM creat_date ) AS day_transaction,
amount, transactions_id, card_number, merchant_id
FROM credit_card
LEFT JOIN transaction 
ON card = card_number     
ORDER BY card_number ASC;
"""
card_holders_outliers_df = pd.read_sql(query_outliers, engine)
card_holders_outliers_df.head(4)

,card_holder_id,month_transaction,day_transaction,amount,transactions_id,card_number,merchant_id
0,11,5.0,9.0,4.60,411,180098539019105,7
1,11,11.0,10.0,3.27,835,180098539019105,94
2,11,5.0,9.0,4.09,40,180098539019105,1
3,11,4.0,6.0,1.02,861,180098539019105,50

In [85]:
# in the function we first group by 'card_number' and 'std',
# then by 'card_number' and 'mean'
# and we use the 'card_number as parameter'
def mean_sd_card_number(number):
    df_std = card_holders_outliers_df.groupby('card_number').std()
    df_mean = card_holders_outliers_df.groupby('card_number').mean()
    number = str(number)
    
    # We return the mean and std for a specific credit_card
    # to get an idea of possible outliers
    return (df_mean.loc[number,'amount'],df_std.loc[number,'amount'])

In [93]:
# find anomalous transactions for 3 random card holders
mean_sd_card_number(4263694062533017)

(9.49596153846154, 5.720587951277003)

In [94]:
mean_sd_card_number(501809222273)

(8.78582089552239, 5.380704625833485)

In [95]:
mean_sd_card_number(372414832802279)

(8.334062499999998, 5.9737876418301425)

  ## Identifying Outliers Using Interquartile Range

In [ ]:
# code a function to identify outliers based on interquartile range

In [ ]:
# find anomalous transactions for 3 random card holders